In [ ]:
import pandas as pd
import psycopg2 as pg2

In [30]:
conn = pg2.connect(
    dbname='adventureworks',
    user='postgres',
    password='galvanize',
    host='localhost',
    port='5558'
)

In [31]:
query = """
SELECT
    CASE 
        WHEN Product.ListPrice BETWEEN 0 AND 50 THEN '0 - 50'
        WHEN Product.ListPrice BETWEEN 50 AND 100 THEN '50 - 100'
        WHEN Product.ListPrice BETWEEN 100 AND 200 THEN '100 - 200'
        WHEN Product.ListPrice BETWEEN 200 AND 500 THEN '200 - 500'
        WHEN Product.ListPrice BETWEEN 500 AND 1000 THEN '500 - 1000'
        ELSE '1000+'
    END AS "Price Bracket",
    COUNT(Product.ProductID) AS "Number of Products"
FROM
    Production.Product AS Product
GROUP BY
    CASE 
        WHEN Product.ListPrice BETWEEN 0 AND 50 THEN '0 - 50'
        WHEN Product.ListPrice BETWEEN 50 AND 100 THEN '50 - 100'
        WHEN Product.ListPrice BETWEEN 100 AND 200 THEN '100 - 200'
        WHEN Product.ListPrice BETWEEN 200 AND 500 THEN '200 - 500'
        WHEN Product.ListPrice BETWEEN 500 AND 1000 THEN '500 - 1000'
        ELSE '1000+'
    END
ORDER BY
    "Price Bracket";
"""

product_df = pd.read_sql(query, conn)

conn.close()

C:\Users\darks\AppData\Local\Temp\ipykernel_9240\3911536486.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_df = pd.read_sql(query, conn)

In [29]:
product_df

  Price Bracket  Number of Products
0        0 - 50                 253
1         1000+                  86
2     100 - 200                  25
3     200 - 500                  53
4    500 - 1000                  50
5      50 - 100                  37